.body{
    text-align: center;
    background-color:blueviolet ;
}
.main-container{
    background-color: grey;
    margin-top: 240px;
    border-radius:5px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.title{
    display: flex;
}
.button-container{
    display: flex;
    gap:8px;
    
}
button{
  font-size: 5rem;
  color:rgb(42, 165, 46);
  width: 200px;
  height: 200px;
}
.a{
    background-image: url(photo-1.jpg);
    background-size: contain;
}
 .b{
  background-image: url(photo-2.jpg);
    background-size: contain;
}
.c{
  background-image: url(photo-3.jpg);
    background-size: contain;
}
.d{
  background-image: url(photo-4.jpg);
    background-size: contain;
} 
.x{
  background-image: url(photo-5.jpg);
  background-size: contain;
}
.z{
  background-image: url(photo-6.jpg);
  background-size: contain;
}
.pressed{
 
  box-shadow:5px 10px #200787 ;
  opacity:0.4;
}
